{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Crear rutina</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="icon"
    type="icon"
    href="{% static 'imagenes/logo.png' %}"
    class="icon"
  />
  <link rel="stylesheet" href="{% static 'css/base/normalize.css' %}" />
  <link rel="stylesheet" href="{% static 'css/crear_rutinas.css' %}" />
  <link rel="stylesheet" href="{% static 'css/inicio.css' %}" />

  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@600&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
</head>
{% include "layouts/navegacion.html" %}
<body>
  <div class="main">
    <h1>➕ Crear Nueva Rutina</h1>

    <form method="post">
      {% csrf_token %} 
      <h2 class="titulo">1. Nombre de la Rutina</h2>
      <input
        type="text"
        name="nombre"
        id="nombre"
        value="{{ nombre_rutina_precargado|default:'' }}"
        required
        placeholder="Nombre de la rutina"
      />

      <h2>2. Asignación de Ejercicios por Día</h2>

      {% for num_dia, nombre_dia in dias_semana %}
      <div class="dia-semana" data-dia-num="{{ num_dia }}">
        <h3>📅 {{ nombre_dia }}</h3>

        <table id="tabla-dia-{{ num_dia }}" class="tabla">
          <thead class="hidden">
            <tr>
              <th>Ejercicio</th>
              <th>Peso (kg)</th>
              <th>Reps</th>
              <th>Series</th>
              <th>Descanso (s)</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>

        <button
          type="button"
          class="btn-add-ejercicio"
          data-dia-num="{{ num_dia }}"
        >
          Añadir Ejercicio
        </button>
      </div>

      <hr />
      {% endfor %}

      <button class="submit" type="submit">💾 Guardar Rutina</button>
    </form>
  </div>
</body>
<script src="{% static 'js/rutina.js' %}" defer></script>
<script id="ejercicios-data" type="application/json">
  [
      {% for ejercicio in opciones_ejercicio %}
          {"id": "{{ ejercicio.id }}", "nombre": "{{ ejercicio.nombre }}"}{% if not forloop.last %},{% endif %}
      {% endfor %}
  ]
</script>
{% include "layouts/footer.html" %}
