<header class="main-header">
  <div class="header-top">
    <div class="logo">
      <a href="/"><i class="fas fa-dumbbell fa-2x dumbell">KINETIK</i></a>
    </div>
    <div class="user-actions">
      <a href="logout/">Cerrar Sesión</a>
    </div>
  </div>
  <nav class="main-nav">
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">
          <i class="fas fa-dumbbell"></i> Rutinas
          <i class="fas fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/entrenamientos_gimnasio"
              ><i class="fas fa-dumbbell"></i> Gimnasio</a
            >
          </li>
          <li>
            <a href="/entrenamientos_casa"
              ><i class="fas fa-house-user"></i> Casa</a
            >
          </li>
          <li>
            <a href="/crear_rutinas"
              ><i class="fas fa-plus-circle"></i> Crear Rutina</a
            >
          </li>
          <li>
            <a href="/mis_rutinas"
              ><i class="fas fa-list"></i> Mis Rutinas</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="/registro_medidas"><i class="fas fa-ruler"></i> Medidas</a>
      </li>
      <li>
        <a href="/registro_peso"><i class="fas fa-weight"></i> Peso</a>
      </li>
      <li>
        <a href="/calculadora_mr"
          ><i class="fas fa-calculator"></i> Calculadora de Mr</a
        >
      </li>
      <li>
        <a href="/calculadora_rm"
          ><i class="fas fa-calculator"></i> Calculadora de Rm</a
        >
      </li>
    </ul>
  </nav>
</header>