  {% load static %}
  <header class="main-header">
        <div class="header-top">
            <a href="/"><i class="fas fa-dumbbell fa-2x dumbell">KINETIK</i></a>

            <button class="menu-toggle" aria-controls="mobile-menu" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </button>
            
            <div class="user-actions desktop-only">
                <a href="#">Cerrar Sesión</a>
            </div>
        </div>

        <nav class="main-nav" id="mobile-menu">
            <ul>
                <li class="dropdown">
                    <a href="#"><i class="fas fa-dumbbell"></i> Rutinas <i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/entrenamientos_gimnasio">GYM</a></li>
                        <li><a href="#">CASA</a></li>
                        <li><a href="#">Crear Rutina</a></li>
                        <li><a href="#">Mis Rutinas</a></li>
                    </ul>
                </li>
                  <li><a href="#"><i class="fas fa-ruler-combined"></i> Medidas</a></li>
                  <li><a href="#"><i class="fas fa-weight"></i> Peso</a></li>
                  <li><a href="#"><i class="fas fa-calculator"></i> Calculadora de Mr</a></li>
                  <li><a href="#"><i class="fas fa-calculator"></i> Calculadora de Rm</a></li>
                  <li class="mobile-only"><a href="#">Cerrar Sesión</a></li>
            </ul>
        </nav>
        <script src="{% static 'js/menu_hamburguesa.js' %}"></script>
    </header>
    
