.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nombre {
  margin-bottom: 1rem;
}

.btn-add-ejercicio {
  margin-top: 1rem;
}

#boton-rojo {
  margin: 1rem 0;
  background-color: red !important;
}

.dia-semana {
  display: flex;
  flex-direction: column;
}

.tabla tr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hidden {
  display: none;
}

.tabla {
  display: flex;
  flex-direction: row;
}

.btn-eliminar {
  background: red;
  margin: 1.5rem 0 1rem 0;
}
