.lista li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  text-align: center;
}

.lista {
  padding: 0;
}

.lista a {
  text-decoration: none;
  color: #2b2d42;
}
.boton-rutina {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  width: 30vw;
}

.opciones {
  display: flex;
  gap: 1rem;
}

.eliminar {
  background: rgb(225, 33, 33);
}

.editar {
  background: rgb(33, 144, 225);
}

.main {
  min-height: 85vh;
}

@media (min-width: 769px) {
  .nombre {
    font-size: 2rem;
  }

  .boton-rutina {
    font-size: 1.2rem;
  }

  .titulo {
    text-align: left;
  }
}

.nombre-y-activo {
  display: flex;
  align-items: center; 
  gap: 15px; 
  margin-bottom: 10px;
}

.form-activo {
  margin: 0;
  padding: 0;
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px; 
  height: 25px;
  margin: 0;
}

.switch input {
  opacity: 0; 
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; 
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4fb3c8; 
}

input:focus + .slider {
  box-shadow: 0 0 1px #4fb3c8;
}

input:checked + .slider:before {
  transform: translateX(20px); 
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

